<p id="notice"><%= notice %></p>

<h1>Itemmodels</h1>

<table>
  <thead>
    <tr>
      <th>Category</th>
      <th>Name</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @itemmodels.each do |itemmodel| %>
      <tr>
        <td><%= itemmodel.category %></td>
        <td><%= itemmodel.name %></td>
        <td><%= link_to 'Show', itemmodel %></td>
        <td><%= link_to 'Edit', edit_itemmodel_path(itemmodel) %></td>
        <td><%= link_to 'Destroy', itemmodel, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Itemmodel', new_itemmodel_path %>
